.heading {
  background-color: rgb(30, 60, 81);
  padding: 10px;
}

.headerimage {
  background-image: url("earth_header.jpg");
  background-size: cover;
  background-position: center;
  height: 180px;
}

.centre {
  margin: auto;
  padding: 0px;
  display: block;
}

.large {
  font-size: 20px;
}

footer, footer a, .footer {
  padding-top: 5px;
  background-color: rgb(33, 44, 63);
  color: white;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5px;
  position: sticky;
  bottom: 0px;
}


body {
  background-color: rgb(33, 44, 63);
  margin:0;
}

main {
  background-color: rgb(33, 44, 63);
}


nav {
  background-color: rgb(59, 86, 134);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

nav, header {
  position: sticky;
  width: 100%;
  top: 0px;
}



ul.nav, ul.nav li, ul.nav li [href], .footer li {
  display: inline;
  padding: 0px;
  margin-inline: 20px;
  text-transform: lowercase;
  font-family: Helvetica;
  color: white;
}

.textcentre {
  text-align: center;
}

* {
  font-family: "Arial", sans-serif;
  color: floralwhite;
  padding: 0pt;
}
* {
  box-sizing: border-box;
}

nav a:any-link, footer a:any-link {
  text-decoration: none;
}

a img:hover {
  border-color:rgb(59, 86, 134);
}

a img {
  border:rgb(57, 23, 77) 5px solid;
  border-radius: 15px;
}

.curvededge {
  border: 5px solid;
  border-radius: 5%;
}

textarea:invalid{
  border-color: red;
}

input:invalid{
  border-color:red;
}

h1, h2, h3, h4, h5, h6, p, li {
  text-align: center;
}

h1 {
  font-size: 30px;
}


table {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-width: 0;
  border: 0;
  border-collapse: collapse;
}

th, td, tr {
  border: none;
  border-width: 0;
  border: 0;
}

th {
  background-color: rgb(59, 86, 134);
  color: floralwhite;
}

td {
  text-align: center;
  background-color:aliceblue;
  color: black;
}

figcaption {
  text-align: center;
}

.automargin {
  margin: auto;
}

#contact {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

span {
  font-weight: bold;
}

input, select, textarea {
  color: black;
}

.green {
  color: lightgreen;
}

.bold {
  font-weight: bold;
}

hr {
  width: 20%;
}

.inline {
  display: grid;

}

.testimonials {
  background-color: rgb(33, 44, 63);
  width:100%;
  column-width:30%;
}



